<?xml version="1.0" encoding="utf-8"?>
<project-config xmlns="http://www.pustefix-framework.org/2008/namespace/project-config">
  
  <project>
    <name>###PROJECTNAME###</name>
    <description>###PROJECTDESCRIPTION###</description>
  </project>
  
  <editor>
    <enabled>true</enabled>
    <location>http://cms.${fqdn}/</location>
  </editor>
  
  <xml-generator>
    <config-file>pfixroot:/###PROJECTNAME###/conf/depend.xml</config-file>
  </xml-generator>
  
  <http-server>
    
    <http-port>
      <address>${fqdn}</address>
    </http-port>
    
    <https-port>
      <address>${fqdn}</address>
      <ssl-key>pfixroot:/###PROJECTNAME###/conf/server.key</ssl-key>
      <ssl-crt>pfixroot:/###PROJECTNAME###/conf/server.crt</ssl-crt>
    </https-port>
    
    <server-name>###PROJECTNAME###.${fqdn}</server-name>
    <server-alias>###PROJECTNAME###.${machine}</server-alias>
    
    <apache>
      <literal>
        <!-- Stuff that is copied to the Apache configuration -->
      </literal>
    </apache>
    
    <tomcat>
      <enable-extra-webapps>false</enable-extra-webapps>
    </tomcat>
    
  </http-server>
  
  <application>
    
    <docroot-path>pfixroot:/###PROJECTNAME###/htdocs</docroot-path>
    <default-path>/xml/config</default-path>
    
    <context-xml-service>
      <path>/xml/config</path>
      <config-file>pfixroot:/###PROJECTNAME###/conf/config.conf.xml</config-file>
    </context-xml-service>
    
    <static>
      <path>###PROJECTNAME###/img</path>
    </static>
    
  </application>
  
</project-config>
