#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jee="http://java.sun.com/xml/ns/javaee">
   <servlet>
      <servlet-name>dispatcher</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextClass</param-name>
         <param-value>org.pustefixframework.container.spring.beans.PustefixWebApplicationContext</param-value>
      </init-param>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>WEB-INF/project.xml WEB-INF/spring.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/xml/app/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/xml/deref/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/xml/download/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/xml/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>
   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>
</web-app>
