<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://pustefixframework.org/schema/webservices"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://pustefixframework.org/schema/webservices http://pustefixframework.org/schema/webservices/pustefix-webservices.xsd">

  <bean id="calcbean" class="de.schlund.pfixcore.example.webservices.CalculatorImpl" scope="session">
    <aop:scoped-proxy/>
  </bean>
  
  <ws:webservice id="Webservice_Calculator" servicename="Calculator" 
    interface="de.schlund.pfixcore.example.webservices.Calculator" ref="calcbean" protocol="JSONWS"/>
 
</beans>