a.navi {padding-right:10pt;}
a.navi:link { color:#b6cfe4; text-decoration:none }
a.navi:visited { color:#b6cfe4; text-decoration:none }
a.navi:hover { color:#b6cfe4; text-decoration:none }
a.navi:active { color:#b6cfe4; text-decoration:underline }
a.navi:focus { color:#b6cfe4; text-decoration:underline }
span.navi {color:#b6cfe4; font-weight:bold; padding-right:10pt;}
span.error {color:red;}

div.service_caption {
	font-size: 150%;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.protocol_select {
	font-size: 110%;
	padding-bottom: 15px;
}

div.protocol_select span {
	padding-left: 10px;
}

div#service_time {
	padding-bottom: 10px;
}

div#service_error {
	color:red;
	font-weight:bold;
	padding-top:5px;
	padding-bottom: 10px;
}

div#service_result {
	padding-bottom: 5px;
}

div.service_content {
	padding-top:5px;
	padding-bottom: 50px;
}

.service_formtable {
	background-color:#b6cfe4;
	padding: 5px;
}

div#console {
	padding-top:15px;
	padding-bottom:25px;
}