body {
  font-family: serif;
  margin: 0px;
}

span.error {
  color: red;
  padding-left: 5px;
}

div#header {
  font-size: 150%;
  background: #fff;
  padding:15px;
}

div#header img {
  vertical-align: middle;
  margin-right: 20px;
}

div#navigation {
  margin-top: 1px;
  background: #fff;
  
	border: 1px solid #ccc;
	
  padding:15px;


}

div#content {
  padding: 15px;
}

span.core_button_active {
  padding: 5px;
}

a.core_button_normal {
  padding: 5px;
}