<?xml version="1.0" encoding="utf-8"?>
<context-xml-service-config xmlns="http://www.pustefix-framework.org/2008/namespace/context-xml-service-config" 
                            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                            xsi:schemaLocation="http://www.pustefix-framework.org/2008/namespace/context-xml-service-config
                                                http://www.pustefix-framework.org/2008/namespace/context-xml-service-config.xsd"
                            version="1.0">
  
  <global-config />

  <context defaultpage="Calculator"/>

  <pagerequest name="Calculator"/>

</context-xml-service-config>