body {
  background: #fff url(../img/background.png) 0 0 repeat-x;
  font-family: verdana, helvetica, arial;
}

#container {
  text-align: center;
}

#header {
  margin: 0 auto;
  width: 960px;
  height: 166px;
}

#header h1 {
  margin-top: 10px;
  float: left;
  width: 315px;
  height: 134px;
  text-indent: -999em;
  background: url(../img/logo.png) 0 0 no-repeat;
}

#header #topfeatures {
  float: left;
  width: 263px;
  height: 144px;
  margin-left: 63px;
  background: url(../img/background_features.png) 0 -144px no-repeat;
}

#header #topfeatures li {
  display: none;
  text-align: left;
  font-size: 13px;
  line-height: 1.35em;
}

#header #topfeatures li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
  background: url(../img/arrow_inactive.gif) 8px 1px no-repeat;
}

#header #topfeatures li.highlight a,
#header #topfeatures li a:hover {
  color: #0D3C80;
  background-image: url(../img/arrow_active.gif);
}

#header #featuretext {
  float: left;
  margin-left: 20px;
  width: 260px;
  height: 134px;
  margin-top: 10px;
  text-align: left;
  color: #fff;
  font-size: 13px;
  line-height: 1.05em;
  overflow: hidden;
}

#header #featuretext h4 {
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bold;
}

#header #featuretext li {
  display: none;
  width: 250px;
  height: 134px;
}

#header #nextfeature {
  float: left;
  margin-top: 115px;
}

#content {
  margin: 0 auto;
  width: 957px;
  height: 610px;
}

#content ul {
  height: 600px;
  background: #fff url(../img/background_column.png) left bottom repeat-x;
}

#content ul li {
  float: left;
}

#content ul li.section {
  width: 315px;
  padding-top: 30px;
}

#content ul li#leftshadow {
  width: 6px;
  height: 607px;
  background: url(../img/shadow_container_left.png) 0 0 no-repeat;
}

#content ul li#rightshadow {
  width: 6px;
  height: 607px;
  background: url(../img/shadow_container_right.png) 0 0 no-repeat;
}

#content div#bottomshadow {
  width: 945px;
  height: 7px;
  margin-left: 6px;
  background: url(../img/shadow_container_bottom.png) 0 0 no-repeat;
}

#content ul li#why {
  background: url(../img/background_why.png) 0 0 no-repeat;
}

#content ul li#getstarted {
  background: url(../img/background_getstarted.png) 0 0 no-repeat;
}

#content ul li#developer {
  background: url(../img/background_developer.png) 0 0 no-repeat;
}

#content ul li.section div.colcontainer {
  border-left: 1px #D0D0D0 solid;
  border-right: 1px #D0D0D0 solid;
  border-bottom: 1px #D0D0D0 solid;
}

#content ul li.section h2 {
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 22px;
  margin: 0 auto;
}

#content ul li#why h2 {
  color: #FF8D13;
}

#content ul li#getstarted h2 {
  color: #51C624;
}

#content ul li#developer h2 {
  color: #DE2B8D;
}

#content ul li.section ol {
  padding-top: 25px;
  height: 495px;
}

#content ul li.section ol li {
  height: 110px;
  width: 313px;
  background: url(../img/shadow_bottom.png) right bottom no-repeat;
  text-align: left;
}

#content ul li.section ol li#developer_pusteforge {
  background: 0 none;
}

#content ul li.section ol li div.container {
  height: 110px;
  width: 283px;
  margin-left: 20px;
}

#content ul li.section ol {
}

#content ul li.section ol li#why_features div.container {
  background: url(../img/icon_star.png) 0 0 no-repeat;
}

#content ul li.section ol li#why_casestudies div.container {
  background: url(../img/icon_folder.png) 0 0 no-repeat;
}

#content ul li.section ol li#why_download div.container {
  background: url(../img/icon_disc.png) 0 0 no-repeat;
}

#content ul li.section ol li#getstarted_tutorials div.container {
  background: url(../img/icon_tutorials.png) 0 0 no-repeat;
}

#content ul li.section ol li#getstarted_reference div.container {
  background: url(../img/icon_reference.png) 0 0 no-repeat;
}

#content ul li.section ol li#getstarted_faq div.container {
  background: url(../img/icon_faq.png) 0 0 no-repeat;
}

#content ul li.section ol li#developer_community div.container {
  background: url(../img/icon_community.png) 0 0 no-repeat;
}

#content ul li.section ol li#developer_roadmap div.container {
  background: url(../img/icon_roadmap.png) 0 0 no-repeat;
}

#content ul li.section ol li#developer_bugs div.container {
  background: url(../img/icon_bugs.png) 0 0 no-repeat;
}

#content ul li.section ol li#developer_pusteforge div.container {
  background: url(../img/icon_pusteforge.png) 0 0 no-repeat;
}

#content ul li.section ol li div.container h3 {
  margin: 0 10px 0 75px;
  padding-top: 10px;
  font-weight: bold;
}

#content ul li.section ol li div.container h3 a {
  color: #666;
  text-decoration: none;
}

#content ul li.section ol li div.container h3 a:hover {
  text-decoration: underline;
}

#content ul li.section ol li div.container p {
  margin: 0 10px 0 75px;
  padding-top: 10px;
  font-size: 14px;
  color: #666;
}

