<profiles>
  <profile>
    <id>pustefix</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <properties>
      <makemode>test</makemode>
      <standalone.tomcat>true</standalone.tomcat>
    </properties>
  </profile>
</profiles>
