<!-- rename this file to "profiles.xml" if you need to adjust the properties below -->
<profilesXml>
  <profiles>
    <profile>
      <id>pustefix.properties</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <makemode>test</makemode>
      </properties>
    </profile>
  </profiles>
</profilesXml>
