<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  define all styles for the first stage of transformation 
  in this file	
-->
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
                xmlns:pfx="http://www.schlund.de/pustefix/core" 
                xmlns:ixsl="http://www.w3.org/1999/XSL/TransformOutputAlias" version="1.0">

</xsl:stylesheet>
