body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
	background: #fff url(../img/background.png) 0 0 repeat-x;
}
	
#header {
  height: 68px;
  margin: 15px;
  padding-bottom: 20px;
}

#navigation {
  margin: 10px;
  padding: 10px;
  font-size: 120%;
}

div#content {
	padding: 10px;
	margin: 20px;
	margin-top: 10px;
}

div#footer {
  font-size: 60%;
  color: #ccc;
  padding-left: 15px;
}

span.error {
  color: white;
  background-color: red;
  margin-left: 10px;
  padding: 2px;
}

div.message {
	padding-bottom: 15px;
}

div.field_caption {
  font-weight: bold;
  padding-bottom: 5px;	
}

div#navigation a.core_button_normal {
  color: #fff;
  padding: 10px;
}

div#navigation span.core_button_active {
  color: #fff;
  font-weight: bold;
  padding: 10px;	
}

div#navigation span.core_button_invisible {
  color: #aaa;
  padding: 10px;	
}

a.core_button_normal {
  color: #000;
}

span.core_button_active {
  color: #000;
  font-weight: bold;	
}

table.form {
  border-spacing: 0px;
}

table.form th {
  padding: 10px;
  padding-left: 0px;	
}

table.form td {
  padding: 10px;
  padding-left: 15px;
}

input.data {
  margin-left: 10px;
  margin-right: 5px;
}

input.radio {
  margin-right: 7px;
}

div.PfxMessage {
  color: #000;
  font-size: 120%;
  margin-left: 10px;
  padding: 2px;
}

div.letters {
  margin-bottom: 2px;
}

input.letter {
  font-family: monospace;
  padding: 4px;
  margin: 1px;
}

div#playword {
  font-family: monospace;
  padding-left: 4px;
  padding-bottom: 22pt; 
  letter-spacing: 0.3em;
  font-size: 26pt;	
}

div.setting {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

table.data {
  border-spacing: 1px;
  border: 0px solid #fff;
}

table.data th {
  background: #aaa;
  padding: 5px;
  padding-right: 20px;
}

table.data td {
  padding: 5px;
  padding-right: 20px;
}

tr.odd {
  background: #ddd;
}

tr.even {
  background: #eee;
}

tr.selrow {
  background: #444;
  color: #fff;
}
