/* put your application's common CSS styles here */

body {
  margin: 0px;
  background: #fff;
  font-family: sans-serif;
}

div#header {
   background: #666;
   background-image: url(../img/logo.png);
   background-repeat: no-repeat;
   background-position:10px 4px;
   width: 100%; 
   height: 65px;
   padding-left: 80px;
   padding-top: 25px;
   color: #fff;
   font-size: 35px;
   font-family: sans-serif;
}

div.content {
	padding: 10px;
}

span.error {
  color: red;
  padding-left: 10px;
}