body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  
  margin: 0; 
  padding: 0; 
} 

body {
  font-family: Helvetica,Arial,Sans-serif;
  padding: 0 44px 44px 44px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  padding-top: 14px;
}

h1 {
  font-size: 26px;
  padding-top: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4, h5, h6 {
  font-size: 18px;
}

p, ul, dl {
  padding-top: 10px;
}

dl dl {
  padding-top: 0;
}

li {
  margin-left: 20px;
}

a {
  color: #2A7AE2;
  text-decoration: none;
}

th, td {
  padding: 5px;
}

hr {
  border:1px solid #EEEEEE;
  margin-top: 25px;
  margin-bottom: 20px;
}

div.preface,
div.book,
div.glossary,
div.chapter {
  min-width:300px;max-width:1200px;margin:0 auto;
  background: #FFFFFF;
  padding: 20px;
}

div.book div.preface,
div.book div.glossary,
div.book div.chapter {
  padding: 0;
  border: 0 none;
}

div.note {
  margin: 10px 0 0 15px;
  padding: 8px;
  background-color: #FBFBFB;
  border-top: 1px #CCCCCC dotted;
  border-bottom: 1px #CCCCCC dotted;
}

div.tip {
  margin: 10px 0 0 15px;
  padding: 8px;
  background-color: #FBFBFB;
  border-top: 1px #CCCCCC dotted;
  border-bottom: 1px #CCCCCC dotted;
}

div.warning {
  margin: 10px 0 0 15px;
  padding: 8px;
  background-color: #FBFBFB;
  border-top: 1px #CCCCCC dotted;
  border-bottom: 1px #CCCCCC dotted;
}

pre.programlisting,
pre.screen {
  margin-left: 15px;
  margin-top: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #F8F8F8;
  padding: 8px;
  font-size: 15px;
}

div.toc dd {
  margin-left: 2em;
}

.legalnotice {
  font-size: 13px;
  line-height: 1;
}

div.book > div.titlepage h1.title {
  font-size: 32px;
}

div.book > div {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.list-of-figures,
div.list-of-tables,
div.list-of-examples {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #DDDDDD !important;
}

/* syntax highlighting */

.hl-keyword {
  color: #7F0055;
  font-weight: bold;
}

.hl-string {
  color: #2A00FF;
}

.hl-comment {
  color: #3F5F5F;
  font-style: italic;
}

.hl-tag {
  color: #3F7F7F;
}

.hl-attribute {
  color: #7F007F;
}

.hl-value {
  color: #2A00FF;
}

.hl-html {
  color: #BB1443;
  font-weight: bold;
  font-style: italic;
}

.hl-xslt {
  color: #1443BB;
  font-weight: bold;
}

.hl-section {
  font-weight: bold;
}
