.important {
  margin:5px; 
  border:1px solid red;
}

.xmlcode { margin: 10px; background-color: white; }
.xmlnote {
  background-color: #eeeeee; 
  margin-left: 60px; 
  margin-right: 60px; 
  padding: 2px; 
  border-top: dotted 1px black; 
  border-bottom: dotted 1px black;
}

.ltgt    { color: #ff0000; }
.tagxsl  { color: #dd0000; }
.tagcus  { color: #990066; }
.tagixsl { color: #cc44aa; }
.tagpfx  { color: #0000aa; }
.tagother{ color: #ffaa44; }
.attrkey { color: #0000ff; }
.attrval { color: #22aa00; }
