body { 
  color: #000000; 
  background-color: #ffffff;
  font-family: Verdana, Helvetica, Tahoma, Arial, Sans, sans-serif; 
  font-size: 12px; 
}

div.navigation {
  font-size: 130%;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.navigation a {
  padding-right:10px;
}

div.navigation span {
  padding-right: 10px;
}

div.incpart {
  border: 1px black solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.part_project {
  background-color: #DDDDDD;
  border: 1px #333333 dotted;
  padding: 15px;
}

div.part_common {
  background-color: #c2c2e9;
  border: 1px #333333 dotted;
  padding: 15px;
}

div.part_module {
  background-color: #a9a9c0;
  border: 1px #333333 dotted;
  padding: 15px;
}

table.partinfo {
  border: 1px black solid;
  font-size: 80%;
}

div.xml_project {
  background-color: #F0F0F0;
  border: 1px #333333 dotted;
  padding: 15px;
}

table.xmlinfo {
  border: 1px black solid;
  font-size: 80%;
}


table.partinfo {
  border: 1px black solid;
  font-size: 80%;
}

table.partinfo tr td,th {
  text-align: left;
}

table.partinfo tr th {
  padding-right: 5px;
}

table.partinfo_project { 
  
}

table.partinfo_module { 
  
}





table.xmloutput {
  
}

span.tagname {
  font-family: monospace;
  color: #000000;
  font-weight: bold;
}

span.attname {
  font-family: monospace;
  color: #666666;
  font-weight: bold;
}

span.attval {
  font-family: monospace;
  color: #333333;
  font-weight: bold;
}