html {
  height:100%;
}

body {
  color: #000000; 
  background-color: #666666; 
  width: 1024px; 
  border-color: #333333; 
  border-style:solid; 
  border-width:1px;
  height: 100%; 
  margin:6px; 
  font-family: Verdana, Helvetica, Tahoma, Arial, Sans, sans-serif; 
  font-size: 12px;
}

div.page {
  background-color: #ffffff;
  height:100%; 
}

div.header {
  padding:3px;
  border-bottom: 1px solid #666666;
}

div.content {
  padding: 20px;	
}

span.errormsg {
  color: red;
  font-weight: bold;
}

table.formtable {
  padding: 20px;
}

table.formtable tr.buttonrow {
  
}

table.formtable tr.buttonrow td {
  padding-top: 10px;
  
}