<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE projects
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns:cus="http://www.schlund.de/pustefix/customize">
  <cus:servlet />
  <cus:servlet-mapping />
  <cus:session-config />
  <cus:error-page />
</web-app>