<?xml version="1.0" encoding="UTF-8"?>
<make project="myproject" lang="en">

<!--
  A file configuring the xml related topics. 
  More Informations here: 
  
  http://docs.pustefix-framework.org/trunk/html-chunked/reference/configuration.html#configuration.depend
 -->

  <navigation>
  </navigation>

  <standardmaster>
    <include stylesheet="myproject/xsl/skin.xsl"/>
  </standardmaster>
  
  <standardmetatags>
  	<include stylesheet="myproject/xsl/metatags.xsl"/>
  </standardmetatags>
  
</make>
