body {
  margin: 10pt;
  background: #fff;
  font-size: 12pt;
}

div#header {
  font-size: 22pt;
  font-style: italic;
  color: #777;
  border-bottom: 1pt solid #ccc;
  padding-bottom: 10pt;
  background: #fff;
}

div#header img {
  vertical-align: middle;
  padding-right: 10pt;
}

div#content {
  padding-top: 5pt;
  padding-bottom: 30pt;
}

div#footer {
  font-size: 8pt;
  border-top: 1pt solid #ccc;
  padding-top: 3pt;
  text-align: right;
}

div.msg {
  font-size: 16pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
}

span.error {
  color: red;
  padding-left: 5pt;
}

span.name {
  color: #777;
  font-style: italic;
}

a {
  color: #000;
}