body {
  padding-left: 1em;
}
form {
  display: table;
  border-spacing: 0.5em;
}
form > div {
  display: table-row;
}
form > div > label, input {
  display: table-cell;
}
span.PfxError {
  color: red;
  padding-left: 1em;
}
input[type="submit"] {
  margin-top: 1em;
}
div.table {
  display: table;
  border-spacing: 0.2em;
  padding-bottom: 1em;
}
div.table > div {
  display: table-row;
}
div.table > div > span {
  display: table-cell;
  padding-right: 1em;
}
div.table > div > span:first-child {
  font-weight: bold;
}
div.table > div > a {
  line-height: 2em;
  margin-right: 0.5em;
}