<?xml version="1.0" encoding="utf-8"?>
<context-xml-service-config 
    xmlns="http://www.pustefix-framework.org/2008/namespace/context-xml-service-config" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.pustefix-framework.org/2008/namespace/context-xml-service-config ../../core/schema/context-xml-service-config.xsd"
    version="1.0">
  
  <global-config />

  <context defaultpage="Home">
    <resource bean-name="contextUser" class="sample.games.hangman.context.ContextUser"/>
    <resource bean-name="contextPlay" class="sample.games.hangman.context.ContextPlay"/>
    <resource bean-name="contextSettings" class="sample.games.hangman.context.ContextSettings"/>
  </context>

  <pageflow name="MainFlow" final="Home">
    <flowstep name="Home"/>
    <flowstep name="Settings"/>
    <flowstep name="Play"/>
    <flowstep name="Highscore"/>
  </pageflow>

  <pagerequest name="Home">
    <input policy="NONE">
      <wrapper prefix="registration" class="sample.games.hangman.wrapper.Registration"/>
    </input>
  </pagerequest>
  
  <pagerequest name="Settings">
    <input>
      <wrapper prefix="settings" class="sample.games.hangman.wrapper.Settings"/>
    </input>
  </pagerequest>
  
  <pagerequest name="Play">
    <input>
      <wrapper prefix="play" class="sample.games.hangman.wrapper.Play"/>
    </input>
    <output>
      <resource node="play" bean-ref="contextPlay"/>
    </output>
  </pagerequest>

  <pagerequest name="Highscore">
    <output>
      <resource node="highscore" bean-ref="highscore"/>
    </output>
  </pagerequest>

</context-xml-service-config>
