<?xml version="1.0" encoding="UTF-8"?>
<properties xmlns="http://www.pustefix-framework.org/2008/namespace/properties-config" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.pustefix-framework.org/2008/namespace/properties-config ../../core/schema/properties-config.xsd">
    
    <property name="testdata.defaulttext">foo</property>
    
    <choose>
      <when test="$mode='prod'">
        <property name="testdata.mode">prod</property>
        <property name="ref.testdata">global_testdata_prod</property>
      </when>
      <otherwise>
        <property name="testdata.mode">test</property>
        <property name="ref.testdata">global_testdata</property>
      </otherwise>
    </choose>

</properties>